.App {
    text-align: center;
    background-color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.mycontent {
    text-align:center;
}

.btn-bank {
    width: 200px;
    background-color: #AFDCFE;
    margin: 10px;
    border-width: 1px;
    border-radius: 5px;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.Auth-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;

}

.logoutbtn {
    float:right;
    padding-right: 30px;
    text-align: center;
}

.Simple-form {
    width: 100vw;
    height: 100vh;
    max-width: 960px;
    max-height: 800px;
    box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
    padding-top: 30px;
    padding-bottom: 20px;
    border-radius: 8px;
    background-color: white;
}


.myHeader {
    width: 100vw;
    height: 70px;
    max-width: 960px;

    box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
    padding-left:10px;
    border-radius: 8px;
    background-color: white;
}

.Auth-form {
    width: 420px;
    box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
    padding-top: 30px;
    padding-bottom: 20px;
    border-radius: 8px;
    background-color: white;
}

.Auth-form-content {
    padding-left: 12%;
    padding-right: 12%;
}

.Auth-form-title {
    text-align: center;
    margin-bottom: 1em;
    font-size: 24px;
    color: rgb(34, 34, 34);
    font-weight: 800;
}

label {
    font-size: 14px;
    font-weight: 600;
    color: rgb(34, 34, 34);
}
